 .u-section-1 {
  min-height: 675px;
}

/*.u-section-1 .u-image-1 {
  height: 664px;
  margin-top: 0;
  margin-bottom: 0;
}*/

.u-section-1 .u-image-1 {
  height: 750px;
  margin-top: 1px;
  margin-bottom: 0;
  background-size: 1520px;
  background-repeat: no-repeat !important;
  background-position: top !important;
  /*background-image: url(images/banner11.png);*/
  max-width: 100% !important;
  animation: change 20s infinite ease-in-out !important;

}

.container{
  max-width: 1520px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.front-font{
  font-size: 70px !important;
}


.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  font-size: 4.5rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -555px calc(((100% - 1140px) / 2) + 337px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  margin: 11px calc(((100% - 1140px) / 2) + 676px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  align-self: center;
  margin: 59px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-group-1 {
  min-height: 160px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 7px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 278px;
  height: 150px;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: -128px 223px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 790px;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    margin-right: calc(((100% - 940px) / 2) + 137px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 476px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 327px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 869px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 256px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: 107px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 904px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 76px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: 167px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 691px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 340px) / 2));
    padding: 3px 6px 4px 5px;
  }

  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-top: 172px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-image-2 {
    width: 140px;
    height: 93px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -66px;
    margin-right: 44px;
    margin-left: auto;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 703px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -10px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 713px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  min-height: 713px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/nuno-marques-0GbrjL3vZF4-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 208px 589px 0 30px;
}

.u-section-2 .u-list-1 {
  width: 404px;
  margin: -367px 88px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 367px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-2 .u-group-1 {
  min-height: 158px;
  background-image: linear-gradient(to right, #333333, #478ac9);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  width: 384px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-2 .u-group-2 {
  min-height: 158px;
  background-image: linear-gradient(to right, #333333, #478ac9);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  width: 384px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -646px 333px 540px 332px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-2 .u-image-1 {
    min-height: 588px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 399px;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    --animation-custom_in-translate_x: -200px;
    margin-right: 233px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    min-height: 450px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 123px;
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 6741px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1109px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 616px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 33px;
    margin-left: 32px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 950px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 698px;
  }

  .u-section-2 .u-image-1 {
    min-height: 960px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 143px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 323px;
  }

  .u-section-2 .u-group-2 {
    width: 323px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -882px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-block-9a33-5 {
  min-height: 146px;
}

.u-block-9a33-6 {
  font-weight: 500;
  margin: 40px auto;
}

.u-block-9a33-7 {
  min-height: 800px;
}

.u-block-9a33-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9a33-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 235px);
  width: 65px;
  height: 65px;
  top: 391px;
  background-image: none;
  right: auto;
  padding: 7px;
}

.u-block-9a33-8 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: auto;
  background-image: none;
  right: calc(((100% - 1140px) / 2)  + 244px);
  bottom: 346px;
  padding: 7px;
}

@media (max-width: 1199px) {
  .u-block-9a33-3 {
    left: calc(((100% - 940px) / 2)  + 194px);
    margin-top: 0;
  }

  .u-block-9a33-8 {
    right: calc(((100% - 940px) / 2)  + 201px);
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-block-9a33-3 {
    left: calc(((100% - 720px) / 2)  + 149px);
  }

  .u-block-9a33-8 {
    right: calc(((100% - 720px) / 2)  + 154px);
  }
}

@media (max-width: 767px) {
  .u-block-9a33-3 {
    left: calc(((100% - 540px) / 2)  + 112px);
  }

  .u-block-9a33-8 {
    right: calc(((100% - 540px) / 2)  + 116px);
  }
}

@media (max-width: 575px) {
  .u-block-9a33-7 {
    min-height: 562px;
  }

  .u-block-9a33-2 {
    left: calc(((100% - 340px) / 2)  + 113px);
    top: auto;
    right: auto;
    bottom: 311px;
  }

  .u-block-9a33-3 {
    left: calc(((100% - 340px) / 2)  + -45px);
    width: 42px;
    height: 42px;
    top: 224px;
    padding: 4px;
  }

  .u-block-9a33-8 {
    width: 42px;
    height: 42px;
    top: 221px;
    right: calc(((100% - 340px) / 2)  + -44px);
    padding: 4px;
  }
}

.u-block-1a46-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1a46-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 235px);
  width: 65px;
  height: 65px;
  top: 391px;
  background-image: none;
  right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.u-block-1a46-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 389px;
  background-image: none;
  right: calc(((100% - 1140px) / 2)  + 235px);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

@media (max-width: 1199px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 940px) / 2)  + 194px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 940px) / 2)  + 194px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 720px) / 2)  + 149px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 720px) / 2)  + 149px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 540px) / 2)  + 112px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 540px) / 2)  + 112px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 340px) / 2)  + 71px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 340px) / 2)  + 71px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-1 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-1 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-3-1 .u-image-1 {
    height: 494px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    margin-top: -258px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: 26px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-2 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3-2 .u-image-1 {
    height: 499px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-top: -259px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-btn-1 {
    margin-top: 29px;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 855px;
}

.u-section-3-3 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-3 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-3-3 .u-image-1 {
    height: 466px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-3 .u-text-1 {
    width: auto;
    margin-top: -239px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-btn-1 {
    margin-top: 21px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 887px;
}

.u-section-4 .u-image-1 {
  height: 402px;
  margin-bottom: 0;
  margin-top: 413px;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.5);
}

.u-section-4 .u-image-2 {
  height: 386px;
  filter: brightness(0.5);
  margin-top: -815px;
  margin-bottom: 0;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 520px);
  height: 800px;
  margin: -371px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 533px);
  margin: -565px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 31px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 30px;
  padding: 17px 49px 19px 48px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -658px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 618px);
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 307px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 618px);
}

.u-section-4 .u-image-3 {
  width: 236px;
  height: 165px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -518px auto 60px calc(((100% - 1140px) / 2) + 284px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 533px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-4 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 284px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 534px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 533px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-4 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 284px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 533px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-4 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 284px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 616px;
  }

  .u-section-4 .u-image-1 {
    height: 274px;
    margin-top: 336px;
  }

  .u-section-4 .u-image-2 {
    height: 268px;
    margin-top: -563px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 170px);
    height: 617px;
    margin-top: -316px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 365px;
    margin-top: -46px;
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -411px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 23px;
    margin-right: 42px;
    margin-left: 4px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 16px;
    margin-left: 4px;
    padding: 7px 24px 7px 23px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -532px;
    margin-right: calc(((100% - 340px) / 2) + -34px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 232px;
    margin-right: calc(((100% - 340px) / 2) + -53px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-4 .u-image-3 {
    width: 114px;
    height: 114px;
    margin-top: -368px;
    margin-left: calc(((100% - 340px) / 2) + 56px);
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 978px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1180px;
  margin: 25px -20px 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 661px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-5 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-2 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-5 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

.u-section-5 .u-icon-9 {
  height: 100%;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-5 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("images/zzz.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-10 {
  height: 100%;
}

.u-section-5 .u-icon-11 {
  height: 100%;
}

.u-section-5 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-4 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1704px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1523px;
    grid-gap: 0px 0px;
  }

  .u-section-5 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    width: 133px;
    height: 133px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 230px;
    min-height: 169px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-5 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 133px;
    height: 133px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-group-2 {
    width: 230px;
    min-height: 169px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-5 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    width: 133px;
    height: 133px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-group-3 {
    width: 230px;
    min-height: 169px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-5 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    width: 133px;
    height: 133px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-5 .u-group-4 {
    width: 230px;
    min-height: 169px;
    margin-top: 25px;
    margin-right: auto;
  }
} .u-section-6 {
  min-height: 518px;
}

.u-section-6 .u-image-1 {
  height: 487px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.3);
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -427px auto 39px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 61px;
  min-height: 16px;
  width: 203px;
  min-width: 68px;
  margin: 30px 4px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/fddffd.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 418px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-form-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1030px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -426px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 53px;
    width: 178px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1022px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    height: 45px;
    width: 154px;
    margin-right: 7px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1325px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 757px;
  }

  .u-section-6 .u-image-1 {
    height: 757px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -736px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-social-icons-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-3 {
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}