 .u-section-1 {
  background-image: none;
  min-height: 802px;
}

.u-section-1 .u-image-1 {
  height: 750px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -643px calc(((100% - 1140px) / 2) + 450px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px calc(((100% - 1140px) / 2) + 676px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-group-1 {
  margin-top: 44px;
  margin-bottom: 0;
  min-height: 266px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 497px;
  height: 267px;
  margin: -1px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: -186px auto 0 508px;
}

.u-section-1 .u-shape-1 {
  width: 40px;
  height: 40px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -358px auto 7px calc(((100% - 1140px) / 2) + 228px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -644px;
    margin-right: calc(((100% - 940px) / 2) + 250px);
    margin-left: calc(((100% - 940px) / 2));
    animation-duration: 1000ms;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 476px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 327px;
  }

  .u-section-1 .u-shape-1 {
    height: 84px;
    margin-left: calc(((100% - 940px) / 2) + 228px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 30px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 256px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 228px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 76px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + 228px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 183px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 228px);
  }
} .u-section-2 {
  background-image: none;
  min-height: 780px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 575px;
  margin: 28px calc(((100% - 1140px) / 2) + 282px) 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -134px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 780px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 780px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 23px;
}

.u-section-2 .u-text-2 {
  margin: 168px 624px 0 37px;
}

.u-section-2 .u-group-1 {
  width: 396px;
  min-height: 206px;
  height: auto;
  margin: -435px 124px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 50px;
}

.u-section-2 .u-text-3 {
  margin: 29px auto 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-2 .u-group-2 {
  width: 396px;
  min-height: 206px;
  height: auto;
  margin: 33px 124px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-2 .u-text-5 {
  margin: 29px auto 0;
}

.u-section-2 .u-line-2 {
  width: 100px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 643px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 182px);
    margin-right: calc(((100% - 940px) / 2) + 182px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 471px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-2 .u-line-1 {
    height: 3px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-2 .u-line-2 {
    height: 3px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 73px);
    margin-right: calc(((100% - 720px) / 2) + 73px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 262px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1209px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1109px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 144px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 798px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 698px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 212px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
    margin-top: -470px;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-top: -470px;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-top: 0;
  }
}.u-block-1a46-5 {
  min-height: 146px;
}

.u-block-1a46-6 {
  font-weight: 500;
  margin: 40px auto;
}

.u-block-1a46-7 {
  min-height: 800px;
}

.u-block-1a46-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1a46-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 235px);
  width: 65px;
  height: 65px;
  top: 391px;
  background-image: none;
  right: auto;
  padding: 7px;
}

.u-block-1a46-8 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: auto;
  background-image: none;
  right: calc(((100% - 1140px) / 2)  + 244px);
  bottom: 346px;
  padding: 7px;
}

@media (max-width: 1199px) {
  .u-block-1a46-3 {
    left: calc(((100% - 940px) / 2)  + 194px);
    margin-top: 0;
  }

  .u-block-1a46-8 {
    right: calc(((100% - 940px) / 2)  + 201px);
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-block-1a46-3 {
    left: calc(((100% - 720px) / 2)  + 149px);
  }

  .u-block-1a46-8 {
    right: calc(((100% - 720px) / 2)  + 154px);
  }
}

@media (max-width: 767px) {
  .u-block-1a46-3 {
    left: calc(((100% - 540px) / 2)  + 112px);
  }

  .u-block-1a46-8 {
    right: calc(((100% - 540px) / 2)  + 116px);
  }
}

@media (max-width: 575px) {
  .u-block-1a46-3 {
    left: calc(((100% - 340px) / 2)  + 71px);
  }

  .u-block-1a46-8 {
    right: calc(((100% - 340px) / 2)  + 73px);
  }
}

.u-block-1a46-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1a46-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 235px);
  width: 65px;
  height: 65px;
  top: 391px;
  background-image: none;
  right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.u-block-1a46-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 389px;
  background-image: none;
  right: calc(((100% - 1140px) / 2)  + 235px);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

@media (max-width: 1199px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 940px) / 2)  + 194px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 940px) / 2)  + 194px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 720px) / 2)  + 149px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 720px) / 2)  + 149px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 540px) / 2)  + 112px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 540px) / 2)  + 112px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-block-1a46-2 {
    position: absolute;
    bottom: 10px;
  }

  .u-block-1a46-3 {
    background-image: none;
    position: absolute;
    left: calc(((100% - 340px) / 2)  + 71px);
    width: 65px;
    height: 65px;
    top: 391px;
    right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-block-1a46-4 {
    background-image: none;
    position: absolute;
    width: 65px;
    height: 65px;
    left: auto;
    top: 389px;
    right: calc(((100% - 340px) / 2)  + 71px);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-1 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-1 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-1 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3-1 .u-image-1 {
    width: 340px;
    height: 466px;
    margin-top: 314px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -272px;
    width: 340px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3-2 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-2 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3-2 .u-image-1 {
    width: 340px;
    height: 466px;
    margin-top: 314px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -272px;
    width: 340px;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 855px;
}

.u-section-3-3 .u-image-1 {
  filter: brightness(0.45);
  width: 489px;
  height: 671px;
  margin: 56px auto 0;
}

.u-section-3-3 .u-text-1 {
  width: 372px;
  margin: -217px auto 0;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 250px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -369px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -348px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3-3 .u-image-1 {
    width: 340px;
    height: 466px;
    margin-top: 314px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -272px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 887px;
}

.u-section-4 .u-image-1 {
  height: 402px;
  margin-bottom: 0;
  margin-top: 413px;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.5);
}

.u-section-4 .u-image-2 {
  height: 386px;
  margin-top: -816px;
  margin-bottom: 0;
  filter: brightness(0.5);
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 520px);
  height: 816px;
  margin: -387px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 533px);
  margin: -581px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 31px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 30px;
  padding: 17px 49px 19px 48px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -658px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 618px);
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 307px calc(((100% - 1140px) / 2) + 13px) 0 calc(((100% - 1140px) / 2) + 618px);
}

.u-section-4 .u-image-3 {
  width: 356px;
  height: 282px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -547px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-2 {
    margin-top: -815px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 533px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-1 {
    transition-duration: 0.5s;
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-4 .u-image-3 {
    height: 283px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 534px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 533px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 533px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 521px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 270px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 978px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1180px;
  margin: 25px -20px 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 661px;
  grid-gap: 0px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-5 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-2 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-5 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

.u-section-5 .u-icon-9 {
  height: 100%;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-5 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("images/zzz.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-5 .u-icon-10 {
  height: 100%;
}

.u-section-5 .u-icon-11 {
  height: 100%;
}

.u-section-5 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-group-4 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -229px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -229px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -229px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-4 {
    margin-top: -229px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 518px;
}

.u-section-6 .u-image-1 {
  height: 487px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.3);
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -427px auto 39px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 61px;
  min-height: 16px;
  width: 203px;
  min-width: 68px;
  margin: 30px 4px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/fddffd.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 418px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-form-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1030px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -426px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 53px;
    width: 178px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1022px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    height: 45px;
    width: 154px;
    margin-right: 7px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1325px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1362px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 414px;
}

.u-section-7 .u-image-1 {
  width: 287px;
  height: 81px;
  margin: 27px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1006px;
  margin: 49px auto 27px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0 50px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 50px;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 0 50px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-text-5 {
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  margin: 30px auto 0 50px;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  margin: 20px auto 0 50px;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  margin: 20px auto 0 50px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-text-9 {
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-7 .u-text-11 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-7 .u-text-12 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 232px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-text-13 {
  margin: 0 auto;
}

.u-section-7 .u-text-14 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-7 .u-text-15 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-7 .u-text-16 {
  font-weight: 400;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}
/** start of page **/

.container{
  max-width: 1083px;
    width: 100%;
    margin: 0 auto;
}

#page3-background{
    padding: 0px 0 70px;
    background: #f2f7f5;
}
#page3-background a{
    color: #fff;
    font-weight: 700px;
    font-size: 15px;
    background: darkgrey;
    padding: 5px 14px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 500px;
    transition: background 0.5s;
}
#page3-background h3{
    color: black;
}
#page3-background h2{
  text-align: center; 
  font-size:50px; 
  style:"font-family:georgia,garamond,serif;"
}

#page3-background a:hover {
    background-color: darkgoldenrod;
}   

.testimonial{
  padding-top: 10px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img{

  margin-top: 20px;
  
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

{  
    flex-basis: 25%;
    transition: transform 1.0s ;
    
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  }

  .col-3{
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 250px;
  height: 300px;
  }